<div class="sa4d25">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 col-lg-8">

        {{!-- Top field last week (đăng kí nhiều nhất - tuần qua) --}}

        <div class="section3125">
          <h4 class="item_title">Top fields last week</h4>
          <a href="live_streams.html" class="see150">See all</a>
          <div class="la5lo1">
            <div class="owl-carousel live_stream owl-theme">

              {{!-- Mẫu field --}}

              <div class="item">
                <div class="stream_1">
                  <a href="live_output.html" class="stream_bg">
                    <img src="images/left-imgs/img-1.jpg" alt="">
                    <h4>John Doe</h4>
                    <p>live<span></span></p>
                  </a>
                </div>
              </div>

              {{!--  --}}

            </div>
          </div>
        </div>

        {{!-- Top 3 highlighted courses (rate cao nhất) --}}

        <div class="section3125 mt-50">
          <h4 class="item_title">Top 10 most viewed courses</h4>
          <a href="#" class="see150">See all</a>
          <div class="la5lo1">
            <div class="owl-carousel featured_courses owl-theme">

              {{!-- Mẫu courses --}}

              <div class="item">
                <div class="fcrse_1 mb-20">
                  <a href="course_detail_view.html" class="fcrse_img">
                    <img src="images/courses/img-1.jpg" alt="">
                    <div class="course-overlay">
                      <div class="badge_seller">Bestseller</div>
                      <div class="crse_reviews">
                        <i class='uil uil-star'></i>4.5
                      </div>
                      <span class="play_btn1"><i class="uil uil-play"></i></span>
                      <div class="crse_timer">
                        25 hours
                      </div>
                    </div>
                  </a>
                  <div class="fcrse_content">
                    <div class="eps_dots more_dropdown">
                      <a href="#"><i class='uil uil-ellipsis-v'></i></a>
                      <div class="dropdown-content">
                        <span><i class='uil uil-share-alt'></i>Share</span>
                        <span><i class="uil uil-clock-three"></i>Save</span>
                        <span><i class='uil uil-ban'></i>Not Interested</span>
                        <span><i class="uil uil-windsock"></i>Report</span>
                      </div>
                    </div>
                    <div class="vdtodt">
                      <span class="vdt14">109k views</span>
                      <span class="vdt14">15 days ago</span>
                    </div>
                    <a href="course_detail_view.html" class="crse14s">Complete Python Bootcamp: Go from zero to hero in
                      Python 3</a>
                    <a href="#" class="crse-cate">Web Development | Python</a>
                    <div class="auth1lnkprce">
                      <p class="cr1fot">By <a href="#">John Doe</a></p>
                      <div class="prce142">$10</div>
                    </div>
                  </div>
                </div>
              </div>

              {{!--  --}}

            </div>
          </div>
        </div>

        {{!-- Top 10 most viewed courses (nhiều view nhất) --}}

        <div class="section3125 mt-50">
          <h4 class="item_title">Top 10 most viewed courses</h4>
          <a href="#" class="see150">See all</a>
          <div class="la5lo1">
            <div class="owl-carousel featured_courses owl-theme">

              {{!-- Mẫu courses --}}

              <div class="item">
                <div class="fcrse_1 mb-20">
                  <a href="course_detail_view.html" class="fcrse_img">
                    <img src="images/courses/img-1.jpg" alt="">
                    <div class="course-overlay">
                      <div class="badge_seller">Bestseller</div>
                      <div class="crse_reviews">
                        <i class='uil uil-star'></i>4.5
                      </div>
                      <span class="play_btn1"><i class="uil uil-play"></i></span>
                      <div class="crse_timer">
                        25 hours
                      </div>
                    </div>
                  </a>
                  <div class="fcrse_content">
                    <div class="eps_dots more_dropdown">
                      <a href="#"><i class='uil uil-ellipsis-v'></i></a>
                      <div class="dropdown-content">
                        <span><i class='uil uil-share-alt'></i>Share</span>
                        <span><i class="uil uil-clock-three"></i>Save</span>
                        <span><i class='uil uil-ban'></i>Not Interested</span>
                        <span><i class="uil uil-windsock"></i>Report</span>
                      </div>
                    </div>
                    <div class="vdtodt">
                      <span class="vdt14">109k views</span>
                      <span class="vdt14">15 days ago</span>
                    </div>
                    <a href="course_detail_view.html" class="crse14s">Complete Python Bootcamp: Go from zero to hero in
                      Python 3</a>
                    <a href="#" class="crse-cate">Web Development | Python</a>
                    <div class="auth1lnkprce">
                      <p class="cr1fot">By <a href="#">John Doe</a></p>
                      <div class="prce142">$10</div>
                    </div>
                  </div>
                </div>
              </div>

              {{!--  --}}

            </div>
          </div>
        </div>

        {{!-- Top 10 newest courses (mới nhất) --}}

        <div class="section3125 mt-30">
          <h4 class="item_title">Top 10 most viewed courses</h4>
          <a href="#" class="see150">See all</a>
          <div class="la5lo1">
            <div class="owl-carousel featured_courses owl-theme">

              {{!-- Mẫu courses --}}

              <div class="item">
                <div class="fcrse_1 mb-20">
                  <a href="course_detail_view.html" class="fcrse_img">
                    <img src="images/courses/img-1.jpg" alt="">
                    <div class="course-overlay">
                      <div class="badge_seller">Bestseller</div>
                      <div class="crse_reviews">
                        <i class='uil uil-star'></i>4.5
                      </div>
                      <span class="play_btn1"><i class="uil uil-play"></i></span>
                      <div class="crse_timer">
                        25 hours
                      </div>
                    </div>
                  </a>
                  <div class="fcrse_content">
                    <div class="eps_dots more_dropdown">
                      <a href="#"><i class='uil uil-ellipsis-v'></i></a>
                      <div class="dropdown-content">
                        <span><i class='uil uil-share-alt'></i>Share</span>
                        <span><i class="uil uil-clock-three"></i>Save</span>
                        <span><i class='uil uil-ban'></i>Not Interested</span>
                        <span><i class="uil uil-windsock"></i>Report</span>
                      </div>
                    </div>
                    <div class="vdtodt">
                      <span class="vdt14">109k views</span>
                      <span class="vdt14">15 days ago</span>
                    </div>
                    <a href="course_detail_view.html" class="crse14s">Complete Python Bootcamp: Go from zero to hero in
                      Python 3</a>
                    <a href="#" class="crse-cate">Web Development | Python</a>
                    <div class="auth1lnkprce">
                      <p class="cr1fot">By <a href="#">John Doe</a></p>
                      <div class="prce142">$10</div>
                    </div>
                  </div>
                </div>
              </div>

              {{!--  --}}

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
