<form method="POST" action="">
  <div class="card">
    <div class="card-header">
      <h4>New Category</h4>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="txtCatName">Category</label>
        <input type="text" class="form-control" id="txtCatName" name="CatName" autofocus>
      </div>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="/admin/categories" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back to List
      </a>
      <button class="btn btn-success" type="submit">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </div>
  </div>
</form>