<div class="wrapper">
    <div class="course__form" style="margin: 0px 30px 0px 30px !important; border-radius: 10px;">

        <form id="frmEdit" method="POST" action="">
            <div class="card-view_info10">
                <div class="card-header">

                    <h4>Change password</h4>

                </div>

                <div class="card-body">

                    <div class="ui search focus ">
                        <div class="ui left icon labeled input swdh11 swdh31">
                            <div class="ui label lb12" style="width: 115px; text-align: center;">
                                Email
                            </div>
                            <input class="prompt srch_explore" type="text" id="email" name="email" readonly
                                value="{{this.account.email}}">
                        </div>
                    </div>

                    <div class="ui search focus mt-30">
                        <div class="ui left icon labeled input swdh11 swdh31">
                            <div class="ui label lb12" style="width: 115px; text-align: center;">
                                Password
                            </div>
                            <input class="prompt srch_explore" type="password" id="password" name="password"
                                required>
                        </div>
                        <span class="help-block" id="error_password" style="padding-left: 120px;"></span>
                    </div>

                </div>
                <div class="card-footer">
                    <a class="btn btn-primary mt-10 "
                        style="background-color: #000 !important; border-color:#ff9800 !important; color: #ff9800 !important; margin-right: 10px;"
                        href="/admin/accounts/edit?email={{this.account.email}}" role="button">
                        <i class="fa fa-chevron-left" aria-hidden="true" style="margin-right: 5px;"></i>
                        Back to List
                    </a>
                    <button class="btn btn-outline-success mt-10 ml-2" id="save" type="submit"
                        formaction="/admin/accounts/change" style="margin-right: 10px;">
                        <i class="fa fa-check" aria-hidden="true" style="margin-right: 5px;"></i>
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
