<!DOCTYPE html>
<html lang="en">

	
<!-- Mirrored from gambolthemes.net/html-items/cursus_demo_f12/forgot_password.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:59:15 GMT -->
<head>
		<meta charset="utf-8">		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=9">
		<meta name="description" content="Gambolthemes">
		<meta name="author" content="Gambolthemes">
		<title>Online Academy - Reset Password</title>
		
		<!-- Favicon Icon -->
		<link rel="icon" type="image/png" href="/images/fav.png">
		
		<!-- Stylesheets -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
		<link href='/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
		<link href="/css/vertical-responsive-menu.min.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<link href="/css/responsive.css" rel="stylesheet">
		<link href="/css/night-mode.css" rel="stylesheet">
		
		<!-- Vendor Stylesheets -->
		<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
		<link href="/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
		<link href="/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/vendor/semantic/semantic.min.css">	
		
	</head> 

<body class="sign_in_up_bg">
	<!-- Signup Start -->
	<div class="container">
		<div class="row justify-content-lg-center justify-content-md-center">
			<div class="col-lg-12">
				<div class="main_logo25" id="logo">
					<a href="/"><img src="/images/logo.svg" alt=""></a>
					<a href="/"><img class="logo-inverse" src="/images/ct_logo.svg" alt=""></a>
				</div>
			</div>
		
			<div class="col-lg-6 col-md-8">
				<div class="sign_form">
					<h2>Input new Password</h2>
					<form id="frmEdit" method="POST" action="">
						<div class="ui search focus mt-50">
							<div class="ui left icon input swdh95">
								<input class="prompt srch_explore" type="email" name="email" readonly required="" value="{{email}}" maxlength="64" placeholder="Email Address">															
								<i class="uil uil-envelope icon icon2"></i>
							</div>
						</div>

						<div class="ui search focus mt-25">
							<div class="ui left icon input swdh95">
								<input class="prompt srch_explore" type="password" id="password" name="password" required="" maxlength="64" placeholder="Password">															
								<i class="uil uil-key-skeleton-alt icon icon2"></i>
							</div>
						</div>

						<div class="ui search focus mt-25">
							<div class="ui left icon input swdh95">
								<input class="prompt srch_explore" type="password" id="passwordcheck" name="passwordcheck" required="" maxlength="64" placeholder="Confirm Password">															
								<i class="uil uil-key-skeleton-alt icon icon2"></i>
							</div>
						</div>

                        <div style="color: #ff9800; font-weight: bold; margin-top: 10px" id="message"></div>
						<button class="login-btn" type="submit" id="reset">Reset Password</button>

					</form>
					<p class="mb-0 mt-30">Go Back <a href="/account/login">Log In</a></p>
				</div>
				<div class="sign_footer">© 2020 <strong>Online Academay</strong>. All Rights Reserved.</div>
			</div>				
		</div>				
	</div>				
	<!-- Signup End -->	

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendor/OwlCarousel/owl.carousel.js"></script>
	<script src="/vendor/semantic/semantic.min.js"></script>
	<script src="/js/custom.js"></script>	
	<script src="/js/night-mode.js"></script>	
	
    <script>
        $('#reset').on('click', function (e) {
            e.preventDefault();
            var password = $('#password').val();
			var passwordcheck = $('#passwordcheck').val();
			console.log(password);
			if (password != passwordcheck){
				$('#message').text("*Password and Confirm Password are not match.");
			}
			else{
				$('#frmEdit').attr('action', '/account/resetpass');
				$('#frmEdit').submit();
			}
        });

    </script>
</body>

<!-- Mirrored from gambolthemes.net/html-items/cursus_demo_f12/forgot_password.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:59:15 GMT -->
</html>